body{
    background-color: rgb(255, 213, 220);
}
fieldset {
    margin: auto;
    width: 500px;
}
h1 {
    text-align: center;
}
div#botao {
    text-align: end;
}
li{
    color: rgb(226, 136, 151);
}
a{
    color: rgb(216, 21, 190);
}